{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
            <h4 class="text-center"><b>Reserve So Far</b></h4>
            <hr class="hr"/>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">SN</th>
                      <th scope="col">Bidder's Username</th>
                      <th scope="col">Bid Amount</th>
                      <th scope="col">Time</th>
                    </tr>
                 </thead>
            <tbody>
                {% for b in bid %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{b.user.username}}</td>
                  <td>{{b.bid_amt}}</td>
                  <td>{{b.datetime.time}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
</div>
{% endblock %}
