{% extends 'base.html' %}

{% block content %}


<div class="container">
             <div class="row mt-4 ">
                 <div class="col"> <h4> <b>Bids Won</b> </h4></div>
                 <div class="col-lg-8"><b><hr class="featurette-divider mt-2"></b></div>
             </div>
    <div class="row">
    {% for p in product %}
    <div class="col-sm-3">
              <div class="card shadow-sm">
                    <img class="card-img-top" src="media/{{p.product.images}}" style="{height:75%;}">
                <div class="card-body">
                  <p class="card-text"><b>{{p.product.title}}</b></p>
                  <blockquote class="card-text">Rs.{{p.product.final_price}}</blockquote>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if p.status == 'Due' %}
                      <button type="button" class="btn btn-sm-10 btn-primary">
                          <a href="{% url 'payment' id=p.product.id %}" class="text-decoration-none text-light">
                              <b>Buy</b>
                          </a>
                      </button>
                        {% else %}
                          <button type="button" class="btn btn-sm-10 btn-success">
                         <a href="{% url 'invoice' id=p.product.id %}" class="text-decoration-none text-light">
                              <b>Paid</b>
                          </a>
                      </button>
                        {% endif %}
<!--                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                    </div>
                    <small class="text-body-secondary">{{p.product.datetime.date}}</small>
                  </div>
                </div>
              </div>
    </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}